* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #7fa2c6;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.container {
  background: rgb(103, 93, 70);
  width: 350px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(71, 71, 71);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #bbb5b5;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
}

li.completed span {
  text-decoration: line-through;
  color: gray;
}

.actions button {
  margin-left: 5px;
}